@page
@model IndexModel
@{
    ViewData["Title"] = "sivi - Log In or Sign Up";
}

<section class="container-fluid text-center">
    <div class="row" id="theRow">
        <div class="col-lg-4 col-lg-offset-4" id="theColumns">
            <h2>
                <b>Create and host your resume for free!</b>
            </h2>
            <br />
            <img src="~/images/sivilogo.png" />
        </div>
    </div>
</section>
